In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.functions import udf, struct, col
from pyspark.sql.types import *

In [3]:
spark= SparkSession.builder.appName("Data Analysis on business").getOrCreate()

In [4]:
business_df = spark.read.json("C:\Supriyaa-spark-notes\yelp\yelp_academic_dataset_business.json")

In [5]:
business_df.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [6]:
business_df.columns

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'postal_code',
 'review_count',
 'stars',
 'state']

In [7]:
nrow=business_df.count()
ncol=len(business_df.columns)
print("Dataset Shape:",'(', nrow,',',ncol,')')

Dataset Shape: ( 150346 , 14 )

In [8]:
business_df.dtypes

[('address', 'string'),
 ('attributes',
  'struct<AcceptsInsurance:string,AgesAllowed:string,Alcohol:string,Ambience:string,BYOB:string,BYOBCorkage:string,BestNights:string,BikeParking:string,BusinessAcceptsBitcoin:string,BusinessAcceptsCreditCards:string,BusinessParking:string,ByAppointmentOnly:string,Caters:string,CoatCheck:string,Corkage:string,DietaryRestrictions:string,DogsAllowed:string,DriveThru:string,GoodForDancing:string,GoodForKids:string,GoodForMeal:string,HairSpecializesIn:string,HappyHour:string,HasTV:string,Music:string,NoiseLevel:string,Open24Hours:string,OutdoorSeating:string,RestaurantsAttire:string,RestaurantsCounterService:string,RestaurantsDelivery:string,RestaurantsGoodForGroups:string,RestaurantsPriceRange2:string,RestaurantsReservations:string,RestaurantsTableService:string,RestaurantsTakeOut:string,Smoking:string,WheelchairAccessible:string,WiFi:string>'),
 ('business_id', 'string'),
 ('categories', 'string'),
 ('city', 'string'),
 ('hours',
  'struct<Friday:string,Monday:string,Saturday:string,Sunday:string,Thursday:string,Tuesday:string,Wednesday:string>'),
 ('is_open', 'bigint'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('name', 'string'),
 ('postal_code', 'string'),
 ('review_count', 'bigint'),
 ('stars', 'double'),
 ('state', 'string')]

In [9]:
business_df.describe().show()

+-------+-----------------+--------------------+--------------------+-----------+-------------------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------+
|summary|          address|         business_id|          categories|       city|            is_open|         latitude|         longitude|                name|      postal_code|      review_count|             stars| state|
+-------+-----------------+--------------------+--------------------+-----------+-------------------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------+
|  count|           150346|              150346|              150243|     150346|             150346|           150346|            150346|              150346|           150346|            150346|            150346|150346|
|   mean|7369.333333333333|                null|                null|       null| 0.7961502135075094|36.67115006414565|-89.35733948971448|              1252.4|45177.81755426108| 44.86656113232144|3.5967235576603303|  null|
| stddev|8738.777641447725|                null|                null|       null|0.40285993909006373|5.872758917014046|14.918501679930616|   811.1275005954503|26395.88208585646|121.12013570117071|0.9744207509201357|  null|
|    min|                 |---kPU91CF4Lq2-Wl...|3D Printing, Loca...|AB Edmonton|                  0|        27.555127|       -120.095137|        Grow Academy|                 |                 5|               1.0|    AB|
|    max|  ​185 E State St|zzyx5x0Z7xXWWvWnZ...|Zoos, Tours, Arts...|    ​Lithia|                  1|       53.6791969|    -73.2004570502|​​Transformationa...|          T9E 0V3|              7568|               5.0|   XMS|
+-------+-----------------+--------------------+--------------------+-----------+-------------------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------+

In [10]:
#print distinct values of each column
from pyspark.sql.functions import col

# Iterate over each column in the DataFrame
for column in business_df.columns:
    distinct_values = business_df.select(col(column)).distinct().count()
    print(f"Distinct values of {column}:",distinct_values)

Distinct values of address: 122844
Distinct values of attributes: 67213
Distinct values of business_id: 150346
Distinct values of categories: 83161
Distinct values of city: 1416
Distinct values of hours: 49823
Distinct values of is_open: 2
Distinct values of latitude: 135593
Distinct values of longitude: 131918
Distinct values of name: 114117
Distinct values of postal_code: 3362
Distinct values of review_count: 1158
Distinct values of stars: 9
Distinct values of state: 27

In [11]:
#Missing values
from pyspark.sql.functions import col, isnull

# Missing values
total_rows = business_df.count()
for i in range(len(business_df.columns)):
    column_name = business_df.columns[i]
    n = business_df.filter(isnull(col(column_name))).count()
    p = (n / total_rows) * 100
    print(f"Missing values in {column_name}: {p:.2f}%",' and total count: ',n)

Missing values in address: 0.00%  and total count:  0
Missing values in attributes: 9.14%  and total count:  13744
Missing values in business_id: 0.00%  and total count:  0
Missing values in categories: 0.07%  and total count:  103
Missing values in city: 0.00%  and total count:  0
Missing values in hours: 15.45%  and total count:  23223
Missing values in is_open: 0.00%  and total count:  0
Missing values in latitude: 0.00%  and total count:  0
Missing values in longitude: 0.00%  and total count:  0
Missing values in name: 0.00%  and total count:  0
Missing values in postal_code: 0.00%  and total count:  0
Missing values in review_count: 0.00%  and total count:  0
Missing values in stars: 0.00%  and total count:  0
Missing values in state: 0.00%  and total count:  0

In [12]:
# Filter the DataFrame to show rows with missing values in a specific column
column_with_missing = "categories"
business_df.filter(isnull(col(column_with_missing))).show(truncate=False)

+------------------------------+----------+----------------------+----------+----------------+-----+-------+----------+------------+---------------------------------------+-----------+------------+-----+-----+
|address                       |attributes|business_id           |categories|city            |hours|is_open|latitude  |longitude   |name                                   |postal_code|review_count|stars|state|
+------------------------------+----------+----------------------+----------+----------------+-----+-------+----------+------------+---------------------------------------+-----------+------------+-----+-----+
|60 W White Horse Pike         |null      |SMYXOLPyM95JvZ-oqnsWUA|null      |Berlin          |null |1      |39.8004163|-74.9371806 |A A Berlin Glass & Mirror Co           |08009      |5           |3.0  |NJ   |
|10204 Saint Charles Rck Rd    |null      |9ryVeDaaR-le3kiSayTGow|null      |Saint Ann       |null |1      |38.7260321|-90.3793227 |Pauline African Hair Braiding & Weaving|63074      |5           |1.0  |MO   |
|5135 Meadowood Mall Cir       |null      |xT3J-SP5g49g2FjQfLEQfg|null      |Reno            |null |1      |39.4756225|-119.7833497|Luxury Perfume                         |89502      |5           |2.0  |NV   |
|11601 Roosevelt Blvd N        |null      |_obl2-rphXvtzP3y_ekV1Q|null      |Saint Petersburg|null |1      |27.8774633|-82.6535459 |Certegy Payment Services               |33716      |7           |1.0  |FL   |
|3520 N Highway 94             |null      |mKxCNYEoKt6d_1rXmvRwww|null      |Saint Charles   |null |1      |38.826533 |-90.4722239 |Green Envy                             |63301      |5           |1.5  |MO   |
|9109 Watson Rd                |null      |9QoKKDZB_YuDeS5TxRW8bg|null      |Saint Louis     |null |1      |38.5614292|-90.3718048 |Our 365 Portraits                      |63126      |10          |1.0  |MO   |
|817 W Franklin St, Ste 100    |null      |lxaSo0sBK36BNDRL6uWHXg|null      |Boise           |null |1      |43.6205297|-116.2000815|Parklane Management Company            |83702      |5           |1.0  |ID   |
|314 N Middletown Rd           |null      |ZERQMWb1PFzCfbfknqq-fA|null      |Media           |null |1      |39.9179763|-75.4418924 |Pilot Air Freight                      |19063      |8           |1.5  |PA   |
|6201 Johns Rd, Ste 12         |null      |cs7i8-NtrT2P4dMYa2fX-g|null      |Tampa           |null |1      |28.0078574|-82.5491156 |Direct USA                             |33634      |5           |1.0  |FL   |
|5400 Lapalco Blvd             |null      |tfQEd3kakCQdbjfdp62rzg|null      |Marrero         |null |1      |29.8757377|-90.1068608 |Nicholson's College Cars               |70072      |5           |2.5  |LA   |
|5121 N Armenia Ave            |null      |NpQowTAUYGeylRCAsJx9UA|null      |Tampa           |null |1      |27.9931964|-82.4833777 |Skaters Choice                         |33603      |8           |4.5  |FL   |
|424 N Pinellas Ave            |null      |7cEbbI3wjuGSsJUIGdrnzg|null      |Tarpon Springs  |null |1      |28.1503407|-82.7564411 |Qmar                                   |34689      |7           |5.0  |FL   |
|529 Lancaster Ave             |null      |6aVfpb46kY1FN7nFc32Tew|null      |Berwyn          |null |1      |40.0477679|-75.4365588 |Smart Cents Cleaners                   |19312      |7           |1.0  |PA   |
|412 N Springfield Rd          |null      |_LoMSJiz4dLYnqwRN1bVOg|null      |Primos          |null |1      |39.9303332|-75.3050139 |Sure Payroll Service                   |19018      |8           |1.0  |PA   |
|23 Peddlers Row               |null      |Dngea1LMy4JhJiC5mlYcow|null      |Newark          |null |1      |39.6652322|-75.6618254 |Positive Promotions                    |19702      |10          |1.0  |DE   |
|4032 Lake Trail Dr            |null      |2M_l_vsJx2T_Ihu2XhfRJw|null      |Kenner          |null |1      |30.0298704|-90.2305673 |Higginbottom's Heat & Ac Service       |70065      |7           |2.0  |LA   |
|3501 N Causeway Blvd, Ste 1000|null      |Ap9LaMbl1hJX0c7q3m9hAw|null      |Metairie        |null |1      |30.0127115|-90.1539606 |Adriatic Insurance Company             |70002      |6           |1.0  |LA   |
|1501 W Commerce Ct            |null      |qnJ5tZf2eHrvNZXN5ZMQHQ|null      |Tucson          |null |1      |32.1310473|-110.9970941|Cope Behavioral Services               |85746      |5           |2.5  |AZ   |
|2727 Edenborn Ave             |null      |aya_GU5A7-cB3-G3IO58ng|null      |Metairie        |null |1      |30.0015038|-90.1615687 |Dollar General Store                   |70002      |5           |1.5  |LA   |
|11495 N Pennsylvania St       |null      |S1OERFoPAqaDqr5_dFOTxg|null      |Carmel          |null |1      |39.9541132|-86.1539523 |Keter North America                    |46032      |7           |2.5  |IN   |
+------------------------------+----------+----------------------+----------+----------------+-----+-------+----------+------------+---------------------------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [13]:
column_to_check = "categories"
distinct_values = business_df.select(column_to_check).distinct().collect()
print(f"Distinct values in {column_to_check}:")
for row in distinct_values:
    print(row[0])

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [14]:
column_with_missing = "hours"
business_df.filter(isnull(col(column_with_missing))).select('business_id','categories','hours','attributes').show()

+--------------------+--------------------+-----+--------------------+
|         business_id|          categories|hours|          attributes|
+--------------------+--------------------+-----+--------------------+
|Pns2l4eNsfO8kk83d...|Doctors, Traditio...| null|{null, null, null...|
|k0hlBqXX-Bt0vf1op...|Pubs, Restaurants...| null|{null, null, u'fu...|
|4iRzR7OaS-QaSXuvY...|Hot Dogs, Restaur...| null|{null, null, u'be...|
|w_AMNoI1iG9eay7nc...|Event Planning & ...| null|{null, null, null...|
|2xVsWBNFwZOxIOdd9...|Restaurants, Burgers| null|{null, null, u'fu...|
|bCBPXIVfVzBZBEpFu...|Shipping Centers,...| null|{null, null, null...|
|REwfwz-_-CMQ7Np5U...|Real Estate Agent...| null|                null|
|0qNpTGTcqPwOLi2hA...|Food, Grocery, Co...| null|{null, null, null...|
|xM6LoUcnpDpMBzXs_...|Hotels, Hotels & ...| null|{null, null, null...|
|L_TT0BFmFwORAMaA8...|Gastropubs, Cockt...| null|{null, null, u'no...|
|mjWvAkNqoA6Y5P03s...|  Uniforms, Shopping| null|{null, null, null...|
|qfWJmJ0g96eM_fWma...|Seafood, Restaura...| null|{null, null, u'fu...|
|KWA2qtdwVEkMpd5so...|       Food, Grocery| null|{null, null, null...|
|gbN4RuUiiBxQ2GBFQ...|   Food Trucks, Food| null|{null, null, 'ful...|
|7PDi_iyik3jraDAzW...|Banks & Credit Un...| null|                null|
|8rb-3VYXE37IZix4y...|American (Traditi...| null|{null, null, u'fu...|
|x9K0RfZaT_zlw6Dkl...|Italian, Restaurants| null|{null, null, u'fu...|
|cvP_vh_bOLbCY3eoY...|Festivals, Arts &...| null|{null, null, null...|
|NZ_bFJma7brQUfln5...|Restaurants, Japa...| null|{null, null, null...|
|Dy91wdWkwtI_qgjAI...|Mexican, Restaurants| null|{null, null, u'no...|
+--------------------+--------------------+-----+--------------------+
only showing top 20 rows

In [15]:
business_df.filter((isnull(col('hours')))&(isnull(col('categories')))&(isnull(col('attributes')))).select('business_id','categories','hours','attributes').show()

+--------------------+----------+-----+----------+
|         business_id|categories|hours|attributes|
+--------------------+----------+-----+----------+
|SMYXOLPyM95JvZ-oq...|      null| null|      null|
|9ryVeDaaR-le3kiSa...|      null| null|      null|
|xT3J-SP5g49g2FjQf...|      null| null|      null|
|_obl2-rphXvtzP3y_...|      null| null|      null|
|mKxCNYEoKt6d_1rXm...|      null| null|      null|
|9QoKKDZB_YuDeS5Tx...|      null| null|      null|
|lxaSo0sBK36BNDRL6...|      null| null|      null|
|ZERQMWb1PFzCfbfkn...|      null| null|      null|
|cs7i8-NtrT2P4dMYa...|      null| null|      null|
|tfQEd3kakCQdbjfdp...|      null| null|      null|
|NpQowTAUYGeylRCAs...|      null| null|      null|
|7cEbbI3wjuGSsJUIG...|      null| null|      null|
|6aVfpb46kY1FN7nFc...|      null| null|      null|
|_LoMSJiz4dLYnqwRN...|      null| null|      null|
|Dngea1LMy4JhJiC5m...|      null| null|      null|
|2M_l_vsJx2T_Ihu2X...|      null| null|      null|
|Ap9LaMbl1hJX0c7q3...|      null| null|      null|
|qnJ5tZf2eHrvNZXN5...|      null| null|      null|
|aya_GU5A7-cB3-G3I...|      null| null|      null|
|S1OERFoPAqaDqr5_d...|      null| null|      null|
+--------------------+----------+-----+----------+
only showing top 20 rows

In [16]:
c=business_df.filter((isnull(col('hours')))&(isnull(col('categories')))&(isnull(col('attributes')))).select('business_id','categories','hours','attributes').count()
print("Total rows where all 3 columns are Null: ", c)

Total rows where all 3 columns are Null:  102

In [17]:
c=business_df.filter((isnull(col('hours')))&~(isnull(col('categories')))&~(isnull(col('attributes')))).select('business_id','categories','hours','attributes').count()
print("Total rows where hour is Null but other two columns are not null: ", c)

Total rows where hour is Null but other two columns are not null:  18983

In [18]:
business_df.filter((isnull(col('hours')))&~(isnull(col('categories')))&~(isnull(col('attributes')))).select('business_id','categories','hours','attributes').show()

+--------------------+--------------------+-----+--------------------+
|         business_id|          categories|hours|          attributes|
+--------------------+--------------------+-----+--------------------+
|Pns2l4eNsfO8kk83d...|Doctors, Traditio...| null|{null, null, null...|
|k0hlBqXX-Bt0vf1op...|Pubs, Restaurants...| null|{null, null, u'fu...|
|4iRzR7OaS-QaSXuvY...|Hot Dogs, Restaur...| null|{null, null, u'be...|
|w_AMNoI1iG9eay7nc...|Event Planning & ...| null|{null, null, null...|
|2xVsWBNFwZOxIOdd9...|Restaurants, Burgers| null|{null, null, u'fu...|
|bCBPXIVfVzBZBEpFu...|Shipping Centers,...| null|{null, null, null...|
|0qNpTGTcqPwOLi2hA...|Food, Grocery, Co...| null|{null, null, null...|
|xM6LoUcnpDpMBzXs_...|Hotels, Hotels & ...| null|{null, null, null...|
|L_TT0BFmFwORAMaA8...|Gastropubs, Cockt...| null|{null, null, u'no...|
|mjWvAkNqoA6Y5P03s...|  Uniforms, Shopping| null|{null, null, null...|
|qfWJmJ0g96eM_fWma...|Seafood, Restaura...| null|{null, null, u'fu...|
|KWA2qtdwVEkMpd5so...|       Food, Grocery| null|{null, null, null...|
|gbN4RuUiiBxQ2GBFQ...|   Food Trucks, Food| null|{null, null, 'ful...|
|8rb-3VYXE37IZix4y...|American (Traditi...| null|{null, null, u'fu...|
|x9K0RfZaT_zlw6Dkl...|Italian, Restaurants| null|{null, null, u'fu...|
|cvP_vh_bOLbCY3eoY...|Festivals, Arts &...| null|{null, null, null...|
|NZ_bFJma7brQUfln5...|Restaurants, Japa...| null|{null, null, null...|
|Dy91wdWkwtI_qgjAI...|Mexican, Restaurants| null|{null, null, u'no...|
|iPSPcprSnkLOuL1Ns...|Barbers, Beauty &...| null|{null, null, null...|
|anLQj9AM8vjbcLSIE...|  Pizza, Restaurants| null|{null, null, u'no...|
+--------------------+--------------------+-----+--------------------+
only showing top 20 rows

In [5]:
# Register the DataFrame as a temporary table
business_df.createOrReplaceTempView("business_table")

In [19]:
result = spark.sql("SELECT count(*) as total_count FROM business_table")
result.show()

+-----------+
|total_count|
+-----------+
|     150346|
+-----------+

In [20]:
result = spark.sql("SELECT count(*) as total_count FROM (select distinct * from business_table)")
result.show()

+-----------+
|total_count|
+-----------+
|     150346|
+-----------+

In [21]:
result=spark.sql('''select * from 
(select b.business_id,
row_number() over (partition by address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,
name,postal_code,review_count,state,stars
order by address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,
name,postal_code,review_count,state,stars) as rown
from business_table b)
where rown>2
''')
result.show()

+-----------+----+
|business_id|rown|
+-----------+----+
+-----------+----+

In [22]:
from pyspark.sql.functions import monotonically_increasing_id
df_with_rowid = business_df.withColumn("rowid", monotonically_increasing_id())
df_with_rowid.createOrReplaceTempView("business_table1")
result=spark.sql('''SELECT * FROM business_table1 b1
WHERE rowid > (
  SELECT MIN(rowid) FROM business_table1 b2  
  WHERE 1=1
  and b1.address = b2.address
  and b1.attributes = b2.attributes
  and b1.business_id = b2.business_id
  and b1.categories = b2.categories
  and b1.city = b2.city
  and b1.hours = b2.hours
  and b1.is_open = b2.is_open
  and b1.latitude = b2.latitude
  and b1.longitude = b2.longitude
  and b1.name = b2.name
  and b1.postal_code = b2.postal_code
  and b1.review_count = b2.review_count
  and b1.state = b2.state
  and b1.stars = b2.stars
)''')
result.show()

+-------+----------+-----------+----------+----+-----+-------+--------+---------+----+-----------+------------+-----+-----+-----+
|address|attributes|business_id|categories|city|hours|is_open|latitude|longitude|name|postal_code|review_count|stars|state|rowid|
+-------+----------+-----------+----------+----+-----+-------+--------+---------+----+-----------+------------+-----+-----+-----+
+-------+----------+-----------+----------+----+-----+-------+--------+---------+----+-----------+------------+-----+-----+-----+

In [23]:
#To check if business_id is unique
result=spark.sql("select count(distinct business_id) from business_table")
result.show()

+---------------------------+
|count(DISTINCT business_id)|
+---------------------------+
|                     150346|
+---------------------------+

In [20]:
output =spark.sql("""select * from (SELECT categories, COUNT(*)  as count
FROM business_table
GROUP BY categories) order by count desc
                    """)
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/categories_count.csv")

+--------------------+-----+
|          categories|count|
+--------------------+-----+
|Beauty & Spas, Na...| 1012|
|  Restaurants, Pizza|  935|
|Nail Salons, Beau...|  934|
|  Pizza, Restaurants|  823|
|Restaurants, Mexican|  728|
|Restaurants, Chinese|  708|
|Mexican, Restaurants|  672|
|Chinese, Restaurants|  651|
|  Food, Coffee & Tea|  508|
|Beauty & Spas, Ha...|  493|
|Hair Salons, Beau...|  480|
|  Coffee & Tea, Food|  473|
|Automotive, Auto ...|  361|
|Auto Repair, Auto...|  351|
|       Grocery, Food|  329|
|Italian, Restaurants|  328|
|       Food, Grocery|  306|
| Veterinarians, Pets|  300|
|Ice Cream & Froze...|  298|
| Pets, Veterinarians|  285|
+--------------------+-----+
only showing top 20 rows

In [25]:
output =spark.sql("""select * from (SELECT stars, COUNT(*)  as count
FROM business_table
GROUP BY stars)
order by count desc
                    """)
output.show()

+-----+-----+
|stars|count|
+-----+-----+
|  4.0|31125|
|  4.5|27181|
|  3.5|26519|
|  3.0|18453|
|  5.0|16307|
|  2.5|14316|
|  2.0| 9527|
|  1.5| 4932|
|  1.0| 1986|
+-----+-----+

In [21]:
output =spark.sql("""select * from (SELECT city, COUNT(*)  as count
FROM business_table
GROUP BY city)
order by count desc
                    """)
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/city_count.csv")

+----------------+-----+
|            city|count|
+----------------+-----+
|    Philadelphia|14569|
|          Tucson| 9250|
|           Tampa| 9050|
|    Indianapolis| 7540|
|       Nashville| 6971|
|     New Orleans| 6209|
|            Reno| 5935|
|        Edmonton| 5054|
|     Saint Louis| 4827|
|   Santa Barbara| 3829|
|           Boise| 2937|
|      Clearwater| 2221|
|Saint Petersburg| 1663|
|        Metairie| 1643|
|          Sparks| 1624|
|      Wilmington| 1446|
|        Franklin| 1414|
|       St. Louis| 1255|
|  St. Petersburg| 1185|
|        Meridian| 1043|
+----------------+-----+
only showing top 20 rows

In [22]:
output =spark.sql("""select * from (SELECT state, COUNT(*)  as count
FROM business_table
GROUP BY state)
order by count desc
                    """)
output.show(40)
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/state_count.csv")

+-----+-----+
|state|count|
+-----+-----+
|   PA|34039|
|   FL|26330|
|   TN|12056|
|   IN|11247|
|   MO|10913|
|   LA| 9924|
|   AZ| 9912|
|   NJ| 8536|
|   NV| 7715|
|   AB| 5573|
|   CA| 5203|
|   ID| 4467|
|   DE| 2265|
|   IL| 2145|
|   TX|    4|
|   CO|    3|
|   MA|    2|
|   HI|    2|
|   WA|    2|
|   NC|    1|
|   UT|    1|
|   SD|    1|
|   MI|    1|
|  XMS|    1|
|   MT|    1|
|   VI|    1|
|   VT|    1|
+-----+-----+

In [28]:
output =spark.sql("""select * from (SELECT review_count, COUNT(*)  as count
FROM business_table
GROUP BY review_count)
order by count desc
                    """)
output.show()

+------------+-----+
|review_count|count|
+------------+-----+
|           5|14921|
|           6|11673|
|           7| 9594|
|           8| 8040|
|           9| 6875|
|          10| 5921|
|          11| 5087|
|          12| 4676|
|          13| 4194|
|          14| 3635|
|          15| 3258|
|          16| 3007|
|          17| 2756|
|          18| 2443|
|          19| 2347|
|          20| 2220|
|          21| 1972|
|          22| 1857|
|          23| 1789|
|          24| 1702|
+------------+-----+
only showing top 20 rows

In [23]:
output =spark.sql("""select * from (SELECT is_open, COUNT(*)  as count
FROM business_table
GROUP BY is_open)
order by count desc
                    """)
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/bus_open_count.csv")

+-------+------+
|is_open| count|
+-------+------+
|      1|119698|
|      0| 30648|
+-------+------+

In [30]:
output=spark.sql('''select attributes from business_table where attributes is not null''')
output.show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|attributes                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{null, null, null, null, null, null, null, null, null, null, null, True, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null}                                                                                                                                                                                                                                                                                                                                                                  |
|{null, null, null, null, null, null, null, null, null, True, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null}                                                                                                                                                                                                                                                                                                                                                                  |
|{null, null, null, null, null, null, null, True, null, True, {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}, False, False, False, null, null, False, null, null, null, null, null, False, False, null, null, null, False, null, null, False, null, 2, False, null, False, null, True, u'no'}                                                                                                                                                                                                                                                                           |
|{null, null, u'none', null, null, null, null, True, null, False, {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}, False, True, null, null, null, null, null, null, null, null, null, null, null, null, null, null, False, null, null, False, null, 1, null, null, True, null, null, u'free'}                                                                                                                                                                                                                                                                            |
|{null, null, null, null, null, null, null, True, null, True, {'garage': None, 'street': None, 'validated': None, 'lot': True, 'valet': False}, null, False, null, null, null, null, null, null, True, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, True, null, True, null}                                                                                                                                                                                                                                                                                     |
|{null, null, u'none', None, null, null, null, False, null, True, None, False, False, False, null, null, False, True, null, True, null, null, False, True, null, null, null, True, u'casual', null, True, True, 1, False, False, True, null, True, u'no'}                                                                                                                                                                                                                                                                                                                                                    |
|{null, null, null, null, null, null, null, True, null, True, {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 2, null, null, null, null, null, null}                                                                                                                                                                                                                                                                                      |
|{null, null, u'full_bar', {'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': False}, null, null, null, null, null, True, {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}, null, True, null, null, null, null, null, null, True, null, null, null, True, null, u'average', null, True, u'casual', null, False, True, 1, False, null, True, null, null, u'free'}                                                                                                   |
|{null, null, u'none', null, null, null, null, null, null, True, {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}, False, False, False, null, null, False, True, null, True, null, null, False, True, null, null, null, True, 'casual', null, True, False, 1, False, False, True, null, True, u'no'}                                                                                                                                                                                                                                                                     |
|{null, null, null, null, null, null, null, True, null, True, {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 2, null, null, null, null, null, null}                                                                                                                                                                                                                                                                                     |
|{null, null, 'none', {'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}, null, null, null, null, null, null, {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}, null, null, null, null, null, null, null, null, null, {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}, null, null, null, null, null, null, None, null, null, null, null, null, False, null, null, null, null, null}           |
|{null, null, 'none', {'touristy': None, 'hipster': None, 'romantic': False, 'divey': None, 'intimate': None, 'trendy': None, 'upscale': None, 'classy': None, 'casual': True}, null, null, null, False, null, True, {'garage': None, 'street': False, 'validated': None, 'lot': True, 'valet': False}, null, null, null, null, null, null, null, null, True, {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}, null, null, True, null, null, null, False, 'casual', null, True, True, 1, False, null, True, null, null, u'no'}                  |
|{null, null, null, null, null, null, null, null, null, null, null, True, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null}                                                                                                                                                                                                                                                                                                                                                                  |
|{null, null, u'none', {'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}, null, null, null, True, False, True, {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}, null, True, null, null, null, null, null, null, True, {'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': False, 'breakfast': False}, null, null, True, null, u'average', null, False, u'casual', null, True, False, 1, False, False, True, null, True, u'no'}|
|{null, null, 'full_bar', {'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': True, 'casual': False}, null, null, null, null, null, True, {u'valet': False, u'garage': None, u'street': True, u'lot': False, u'validated': None}, null, null, null, null, null, False, null, null, False, {'dessert': True, 'latenight': None, 'lunch': None, 'dinner': True, 'brunch': None, 'breakfast': None}, null, True, False, null, u'average', null, True, 'casual', null, True, True, 2, True, True, True, null, True, 'free'} |
|{null, null, null, null, null, null, null, null, null, True, null, False, null, null, null, null, null, False, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, u'free'}                                                                                                                                                                                                                                                                                                                                                             |
|{null, null, null, null, null, null, null, True, null, True, {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 2, null, null, null, null, null, null}                                                                                                                                                                                                                                                                                      |
|{null, null, u'none', {'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': None, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}, null, null, null, True, null, True, {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}, null, True, null, null, null, null, null, null, True, {'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}, null, null, True, null, u'quiet', null, None, u'casual', null, None, False, 1, False, True, True, null, null, u'no'}       |
|{null, null, u'beer_and_wine', {'romantic': False, 'intimate': False, 'classy': False, 'hipster': True, 'touristy': False, 'trendy': True, 'upscale': False, 'casual': False}, null, null, null, null, null, null, {'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}, null, True, null, null, null, null, null, null, False, null, null, null, False, null, u'average', null, False, u'casual', null, False, True, 2, False, null, True, null, null, u'free'}                                                                                                              |
|{null, null, null, null, null, null, null, False, null, True, {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 2, null, null, null, null, null, null}                                                                                                                                                                                                                                                                                     |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [31]:
# Extract JSON values using Spark SQL
spark.sql("""
    CREATE OR REPLACE TEMPORARY VIEW attributes_table AS
    SELECT
    business_id,
        attributes.AcceptsInsurance,
        attributes.AgesAllowed,
        attributes.Alcohol,
       attributes.Ambience,
 attributes.BYOB,
  attributes.BYOBCorkage,
  attributes.BestNights,
 attributes.BikeParking,
 attributes.BusinessAcceptsBitcoin,
 attributes.BusinessAcceptsCreditCards,
 attributes.BusinessParking,
 attributes.ByAppointmentOnly,
 attributes.Caters,
 attributes.CoatCheck,
 attributes.Corkage,
  attributes.DietaryRestrictions,
  attributes.DogsAllowed,
 attributes.DriveThru,
  attributes.GoodForDancing,
  attributes.GoodForKids,
  attributes.GoodForMeal,
  attributes.HairSpecializesIn,
  attributes.HappyHour,
  attributes.HasTV,
  attributes.Music,
  attributes.NoiseLevel,
  attributes.Open24Hours,
  attributes.OutdoorSeating,
  attributes.RestaurantsAttire,
  attributes.RestaurantsCounterService,
  attributes.RestaurantsDelivery,
  attributes.RestaurantsGoodForGroups,
  attributes.RestaurantsPriceRange2,
  attributes.RestaurantsReservations,
  attributes.RestaurantsTableService,
  attributes.RestaurantsTakeOut,
  attributes.Smoking,
 attributes.WheelchairAccessible,
 attributes.WiFi
    FROM
        business_table
""")

# Query the new table
spark.sql("SELECT * FROM attributes_table").show()

+--------------------+----------------+-----------+-----------+--------------------+----+-----------+----------+-----------+----------------------+--------------------------+--------------------+-----------------+------+---------+-------+-------------------+-----------+---------+--------------+-----------+--------------------+-----------------+---------+-----+-----+----------+-----------+--------------+-----------------+-------------------------+-------------------+------------------------+----------------------+-----------------------+-----------------------+------------------+-------+--------------------+-------+
|         business_id|AcceptsInsurance|AgesAllowed|    Alcohol|            Ambience|BYOB|BYOBCorkage|BestNights|BikeParking|BusinessAcceptsBitcoin|BusinessAcceptsCreditCards|     BusinessParking|ByAppointmentOnly|Caters|CoatCheck|Corkage|DietaryRestrictions|DogsAllowed|DriveThru|GoodForDancing|GoodForKids|         GoodForMeal|HairSpecializesIn|HappyHour|HasTV|Music|NoiseLevel|Open24Hours|OutdoorSeating|RestaurantsAttire|RestaurantsCounterService|RestaurantsDelivery|RestaurantsGoodForGroups|RestaurantsPriceRange2|RestaurantsReservations|RestaurantsTableService|RestaurantsTakeOut|Smoking|WheelchairAccessible|   WiFi|
+--------------------+----------------+-----------+-----------+--------------------+----+-----------+----------+-----------+----------------------+--------------------------+--------------------+-----------------+------+---------+-------+-------------------+-----------+---------+--------------+-----------+--------------------+-----------------+---------+-----+-----+----------+-----------+--------------+-----------------+-------------------------+-------------------+------------------------+----------------------+-----------------------+-----------------------+------------------+-------+--------------------+-------+
|Pns2l4eNsfO8kk83d...|            null|       null|       null|                null|null|       null|      null|       null|                  null|                      null|                null|             True|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                  null|                   null|                   null|              null|   null|                null|   null|
|mpf3x-BjTdTEA3yCZ...|            null|       null|       null|                null|null|       null|      null|       null|                  null|                      True|                null|             null|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                  null|                   null|                   null|              null|   null|                null|   null|
|tUFrWirKiKi_TAnsV...|            null|       null|       null|                null|null|       null|      null|       True|                  null|                      True|{'garage': False,...|            False| False|    False|   null|               null|      False|     null|          null|       null|                null|             null|    False|False| null|      null|       null|         False|             null|                     null|              False|                    null|                     2|                  False|                   null|             False|   null|                True|  u'no'|
|MTSW4McQd7CbVtyjq...|            null|       null|    u'none'|                null|null|       null|      null|       True|                  null|                     False|{'garage': False,...|            False|  True|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|         False|             null|                     null|              False|                    null|                     1|                   null|                   null|              True|   null|                null|u'free'|
|mWMc6_wTdE0EUBKIG...|            null|       null|       null|                null|null|       null|      null|       True|                  null|                      True|{'garage': None, ...|             null| False|     null|   null|               null|       null|     null|          null|       True|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                  null|                   null|                   null|              True|   null|                True|   null|
|CF33F8-E6oudUQ46H...|            null|       null|    u'none'|                None|null|       null|      null|      False|                  null|                      True|                None|            False| False|    False|   null|               null|      False|     True|          null|       True|                null|             null|    False| True| null|      null|       null|          True|        u'casual'|                     null|               True|                    True|                     1|                  False|                  False|              True|   null|                True|  u'no'|
|n_0UpQx1hsNbnPUSl...|            null|       null|       null|                null|null|       null|      null|       True|                  null|                      True|{'garage': False,...|             null|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                     2|                   null|                   null|              null|   null|                null|   null|
|qkRM_2X51Yqxk3btl...|            null|       null|       null|                null|null|       null|      null|       null|                  null|                      null|                null|             null|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                  null|                   null|                   null|              null|   null|                null|   null|
|k0hlBqXX-Bt0vf1op...|            null|       null|u'full_bar'|{'romantic': Fals...|null|       null|      null|       null|                  null|                      True|{'garage': False,...|             null|  True|     null|   null|               null|       null|     null|          null|       True|                null|             null|     null| True| null|u'average'|       null|          True|        u'casual'|                     null|              False|                    True|                     1|                  False|                   null|              True|   null|                null|u'free'|
|bBDDEgkFA1Otx9Lfe...|            null|       null|    u'none'|                null|null|       null|      null|       null|                  null|                      True|{'garage': False,...|            False| False|    False|   null|               null|      False|     True|          null|       True|                null|             null|    False| True| null|      null|       null|          True|         'casual'|                     null|               True|                   False|                     1|                  False|                  False|              True|   null|                True|  u'no'|
|UJsufbvfyfONHeWdv...|            null|       null|       null|                null|null|       null|      null|       True|                  null|                      True|{'garage': False,...|             null|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                     2|                   null|                   null|              null|   null|                null|   null|
|eEOYSgkmpB90uNA7l...|            null|       null|     'none'|{'touristy': Fals...|null|       null|      null|       null|                  null|                      null|{'garage': False,...|             null|  null|     null|   null|               null|       null|     null|          null|       null|{'dessert': False...|             null|     null| null| null|      null|       null|          None|             null|                     null|               null|                    null|                  null|                  False|                   null|              null|   null|                null|   null|
|il_Ro8jwPlHresjw9...|            null|       null|     'none'|{'touristy': None...|null|       null|      null|      False|                  null|                      True|{'garage': None, ...|             null|  null|     null|   null|               null|       null|     null|          null|       True|{'dessert': False...|             null|     null| True| null|      null|       null|         False|         'casual'|                     null|               True|                    True|                     1|                  False|                   null|              True|   null|                null|  u'no'|
|jaxMSoInw8Poo3XeM...|            null|       null|       null|                null|null|       null|      null|       null|                  null|                      null|                null|             True|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                  null|                   null|                   null|              null|   null|                null|   null|
|0bPLkL0QhhPO5kt1_...|            null|       null|    u'none'|{'romantic': Fals...|null|       null|      null|       True|                 False|                      True|{'garage': False,...|             null|  True|     null|   null|               null|       null|     null|          null|       True|{'dessert': False...|             null|     null| True| null|u'average'|       null|         False|        u'casual'|                     null|               True|                   False|                     1|                  False|                  False|              True|   null|                True|  u'no'|
|MUTTqe8uqyMdBl186...|            null|       null| 'full_bar'|{'touristy': Fals...|null|       null|      null|       null|                  null|                      True|{u'valet': False,...|             null|  null|     null|   null|               null|      False|     null|          null|      False|{'dessert': True,...|             null|     True|False| null|u'average'|       null|          True|         'casual'|                     null|               True|                    True|                     2|                   True|                   True|              True|   null|                True| 'free'|
|rBmpy_Y1UbBx8ggHl...|            null|       null|       null|                null|null|       null|      null|       null|                  null|                      True|                null|            False|  null|     null|   null|               null|       null|    False|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                  null|                   null|                   null|              null|   null|                null|u'free'|
|M0XSSHqrASOnhgbWD...|            null|       null|       null|                null|null|       null|      null|       True|                  null|                      True|{'garage': False,...|             null|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                     2|                   null|                   null|              null|   null|                null|   null|
|8wGISYjYkE2tSqn3c...|            null|       null|       null|                null|null|       null|      null|       null|                  null|                      null|                null|             null|  null|     null|   null|               null|       null|     null|          null|       null|                null|             null|     null| null| null|      null|       null|          null|             null|                     null|               null|                    null|                  null|                   null|                   null|              null|   null|                null|   null|
|ROeacJQwBeh05Rqg7...|            null|       null|    u'none'|{'touristy': Fals...|null|       null|      null|       True|                  null|                      True|{'garage': False,...|             null|  True|     null|   null|               null|       null|     null|          null|       True|{'dessert': False...|             null|     null| True| null|  u'quiet'|       null|          None|        u'casual'|                     null|               None|                   False|                     1|                  False|                   True|              True|   null|                null|  u'no'|
+--------------------+----------------+-----------+-----------+--------------------+----+-----------+----------+-----------+----------------------+--------------------------+--------------------+-----------------+------+---------+-------+-------------------+-----------+---------+--------------+-----------+--------------------+-----------------+---------+-----+-----+----------+-----------+--------------+-----------------+-------------------------+-------------------+------------------------+----------------------+-----------------------+-----------------------+------------------+-------+--------------------+-------+
only showing top 20 rows

In [32]:
spark.sql('''select count(*) from attributes_table''').show()

+--------+
|count(1)|
+--------+
|  150346|
+--------+

In [33]:
attributes_df=spark.table("attributes_table")

In [34]:
attributes_df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- AcceptsInsurance: string (nullable = true)
 |-- AgesAllowed: string (nullable = true)
 |-- Alcohol: string (nullable = true)
 |-- Ambience: string (nullable = true)
 |-- BYOB: string (nullable = true)
 |-- BYOBCorkage: string (nullable = true)
 |-- BestNights: string (nullable = true)
 |-- BikeParking: string (nullable = true)
 |-- BusinessAcceptsBitcoin: string (nullable = true)
 |-- BusinessAcceptsCreditCards: string (nullable = true)
 |-- BusinessParking: string (nullable = true)
 |-- ByAppointmentOnly: string (nullable = true)
 |-- Caters: string (nullable = true)
 |-- CoatCheck: string (nullable = true)
 |-- Corkage: string (nullable = true)
 |-- DietaryRestrictions: string (nullable = true)
 |-- DogsAllowed: string (nullable = true)
 |-- DriveThru: string (nullable = true)
 |-- GoodForDancing: string (nullable = true)
 |-- GoodForKids: string (nullable = true)
 |-- GoodForMeal: string (nullable = true)
 |-- HairSpecializesIn: string (nullable = true)
 |-- HappyHour: string (nullable = true)
 |-- HasTV: string (nullable = true)
 |-- Music: string (nullable = true)
 |-- NoiseLevel: string (nullable = true)
 |-- Open24Hours: string (nullable = true)
 |-- OutdoorSeating: string (nullable = true)
 |-- RestaurantsAttire: string (nullable = true)
 |-- RestaurantsCounterService: string (nullable = true)
 |-- RestaurantsDelivery: string (nullable = true)
 |-- RestaurantsGoodForGroups: string (nullable = true)
 |-- RestaurantsPriceRange2: string (nullable = true)
 |-- RestaurantsReservations: string (nullable = true)
 |-- RestaurantsTableService: string (nullable = true)
 |-- RestaurantsTakeOut: string (nullable = true)
 |-- Smoking: string (nullable = true)
 |-- WheelchairAccessible: string (nullable = true)
 |-- WiFi: string (nullable = true)

In [35]:
#Missing values
from pyspark.sql.functions import col, isnull

# Missing values
total_rows = attributes_df.count()
for i in range(len(attributes_df.columns)):
    column_name = attributes_df.columns[i]
    n = attributes_df.filter(isnull(col(column_name))).count()
    p = (n / total_rows) * 100
    print(f"Missing values in {column_name}: {p:.2f}%",' and total count: ',n)

Missing values in business_id: 0.00%  and total count:  0
Missing values in AcceptsInsurance: 96.20%  and total count:  144633
Missing values in AgesAllowed: 99.91%  and total count:  150217
Missing values in Alcohol: 71.27%  and total count:  107157
Missing values in Ambience: 70.55%  and total count:  106067
Missing values in BYOB: 97.04%  and total count:  145895
Missing values in BYOBCorkage: 99.04%  and total count:  148902
Missing values in BestNights: 96.21%  and total count:  144652
Missing values in BikeParking: 51.69%  and total count:  77708
Missing values in BusinessAcceptsBitcoin: 88.41%  and total count:  132916
Missing values in BusinessAcceptsCreditCards: 20.34%  and total count:  30581
Missing values in BusinessParking: 39.42%  and total count:  59261
Missing values in ByAppointmentOnly: 71.84%  and total count:  108007
Missing values in Caters: 73.31%  and total count:  110219
Missing values in CoatCheck: 96.29%  and total count:  144762
Missing values in Corkage: 97.64%  and total count:  146793
Missing values in DietaryRestrictions: 99.98%  and total count:  150315
Missing values in DogsAllowed: 87.84%  and total count:  132062
Missing values in DriveThru: 94.84%  and total count:  142586
Missing values in GoodForDancing: 96.92%  and total count:  145718
Missing values in GoodForKids: 64.50%  and total count:  96971
Missing values in GoodForMeal: 80.65%  and total count:  121259
Missing values in HairSpecializesIn: 99.29%  and total count:  149281
Missing values in HappyHour: 89.91%  and total count:  135175
Missing values in HasTV: 70.01%  and total count:  105262
Missing values in Music: 95.00%  and total count:  142825
Missing values in NoiseLevel: 74.73%  and total count:  112353
Missing values in Open24Hours: 99.97%  and total count:  150307
Missing values in OutdoorSeating: 67.54%  and total count:  101544
Missing values in RestaurantsAttire: 73.89%  and total count:  111091
Missing values in RestaurantsCounterService: 99.99%  and total count:  150327
Missing values in RestaurantsDelivery: 62.57%  and total count:  94064
Missing values in RestaurantsGoodForGroups: 70.62%  and total count:  106176
Missing values in RestaurantsPriceRange2: 43.25%  and total count:  65032
Missing values in RestaurantsReservations: 69.90%  and total count:  105099
Missing values in RestaurantsTableService: 86.71%  and total count:  130364
Missing values in RestaurantsTakeOut: 60.19%  and total count:  90489
Missing values in Smoking: 96.96%  and total count:  145779
Missing values in WheelchairAccessible: 80.74%  and total count:  121393
Missing values in WiFi: 62.14%  and total count:  93432

In [36]:
spark.sql('''select b.business_id,
a.BusinessAcceptsBitcoin,
a.BusinessAcceptsCreditCards,
b.categories,
b.city,
b.state,
b.name
from business_table b,
attributes_table a
where b.business_id=a.business_id
and b.business_id='0bPLkL0QhhPO5kt1_EXmNQ'
''').show(truncate=False)

+----------------------+----------------------+--------------------------+-------------------------------------------+-----+-----+--------------------+
|business_id           |BusinessAcceptsBitcoin|BusinessAcceptsCreditCards|categories                                 |city |state|name                |
+----------------------+----------------------+--------------------------+-------------------------------------------+-----+-----+--------------------+
|0bPLkL0QhhPO5kt1_EXmNQ|False                 |True                      |Food, Delis, Italian, Bakeries, Restaurants|Largo|FL   |Zio's Italian Market|
+----------------------+----------------------+--------------------------+-------------------------------------------+-----+-----+--------------------+

In [37]:
spark.sql('''
select min(stars) as min_stars, max(stars) as max_stars, round(avg(stars),2) as avg_stars
from business_table
''').show()

+---------+---------+---------+
|min_stars|max_stars|avg_stars|
+---------+---------+---------+
|      1.0|      5.0|      3.6|
+---------+---------+---------+

In [38]:
#Find category with more number of 5 stars
output=spark.sql(
'''SELECT categories
FROM business_table
WHERE stars = 5
GROUP BY categories
HAVING COUNT(*) = (
    SELECT MAX(category_count)
    FROM (
        SELECT COUNT(*) AS category_count
        FROM business_table
        WHERE stars = 5
        GROUP BY categories
    )
)
'''
)
output.show(truncate=False)

+-----------------------+
|categories             |
+-----------------------+
|Auto Repair, Automotive|
+-----------------------+

In [24]:
output=spark.sql('''
select * from (select categories, stars, count(stars) as total_count
from business_table
group by categories,stars
)
where categories='Auto Repair, Automotive'
order by total_count desc
''')
output.show(truncate=False)
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/category_more_5stars_stardistribution.csv")

+-----------------------+-----+-----------+
|categories             |stars|total_count|
+-----------------------+-----+-----------+
|Auto Repair, Automotive|5.0  |128        |
|Auto Repair, Automotive|4.5  |100        |
|Auto Repair, Automotive|4.0  |50         |
|Auto Repair, Automotive|3.5  |36         |
|Auto Repair, Automotive|3.0  |14         |
|Auto Repair, Automotive|2.5  |13         |
|Auto Repair, Automotive|1.0  |4          |
|Auto Repair, Automotive|2.0  |4          |
|Auto Repair, Automotive|1.5  |2          |
+-----------------------+-----+-----------+

In [25]:
output=spark.sql('''
select * from (select categories, stars,city,state, count(stars) as total_count
from business_table
group by categories,stars,city,state
order by stars desc,total_count desc
)
where categories='Auto Repair, Automotive'
''')
output.show(truncate=False)
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/categories_more_5stars_state_dist.csv")

+-----------------------+-----+----------------+-----+-----------+
|categories             |stars|city            |state|total_count|
+-----------------------+-----+----------------+-----+-----------+
|Auto Repair, Automotive|5.0  |Philadelphia    |PA   |13         |
|Auto Repair, Automotive|5.0  |Tucson          |AZ   |9          |
|Auto Repair, Automotive|5.0  |Nashville       |TN   |7          |
|Auto Repair, Automotive|5.0  |Saint Louis     |MO   |6          |
|Auto Repair, Automotive|5.0  |Tampa           |FL   |6          |
|Auto Repair, Automotive|5.0  |Santa Barbara   |CA   |5          |
|Auto Repair, Automotive|5.0  |Wilmington      |DE   |5          |
|Auto Repair, Automotive|5.0  |Goleta          |CA   |4          |
|Auto Repair, Automotive|5.0  |Sparks          |NV   |4          |
|Auto Repair, Automotive|5.0  |Safety Harbor   |FL   |3          |
|Auto Repair, Automotive|5.0  |Pinellas Park   |FL   |3          |
|Auto Repair, Automotive|5.0  |Levittown       |PA   |2          |
|Auto Repair, Automotive|5.0  |Metairie        |LA   |2          |
|Auto Repair, Automotive|5.0  |Saint Petersburg|FL   |2          |
|Auto Repair, Automotive|5.0  |Reno            |NV   |2          |
|Auto Repair, Automotive|5.0  |Warminster      |PA   |2          |
|Auto Repair, Automotive|5.0  |Clearwater      |FL   |2          |
|Auto Repair, Automotive|5.0  |Media           |PA   |2          |
|Auto Repair, Automotive|5.0  |Indianapolis    |IN   |2          |
|Auto Repair, Automotive|5.0  |Garden City     |ID   |2          |
+-----------------------+-----+----------------+-----+-----------+
only showing top 20 rows

In [41]:
#Find category with least number of 5 stars
spark.sql(
'''SELECT categories
FROM business_table
WHERE stars = 5
GROUP BY categories
HAVING COUNT(*) = (
    SELECT MIN(category_count)
    FROM (
        SELECT COUNT(*) AS category_count
        FROM business_table
        WHERE stars = 5
        GROUP BY categories
    )
)
'''
).show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|categories                                                                                                                                                                                     |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Dog Walkers, Pet Services, Health & Medical, Reiki, Pet Sitting, Pets                                                                                                                          |
|Community Service/Non-Profit, Local Services, Active Life, Botanical Gardens, Arts & Entertainment, Local Flavor, Parks                                                                        |
|Home Services, Contractors, Landscaping, Tree Services                                                                                                                                         |
|Advertising, Real Estate, Real Estate Photography, Real Estate Services, Event Photography, Session Photography, Home Services, Event Planning & Services, Professional Services, Photographers|
|Used, Vintage & Consignment, Home Services, Home & Garden, Home Decor, Fashion, Antiques, Home Staging, Shopping, Furniture Stores, Real Estate                                                |
|Fashion, Women's Clothing, Flowers & Gifts, Shopping, Jewelry, Accessories, Gift Shops                                                                                                         |
|Jewelry, Florists, Flowers & Gifts, Shopping                                                                                                                                                   |
|Food Stands, Restaurants                                                                                                                                                                       |
|Diagnostic Imaging, Health & Medical, Professional Services, Diagnostic Services                                                                                                               |
|Shopping, Jewelry, Local Services, Watch Repair, Jewelry Repair, Watches                                                                                                                       |
|Pets, Pet Services, Pet Sitting, Pet Training                                                                                                                                                  |
|Art Galleries, Shopping, Local Flavor, Arts & Entertainment                                                                                                                                    |
|Contractors, Painters, Home Services                                                                                                                                                           |
|Lawyers, Personal Injury Law, Professional Services                                                                                                                                            |
|Contractors, Garage Door Services, Home Services                                                                                                                                               |
|Home Services, Painters, Contractors, Pressure Washers, Shopping, Fences & Gates, Flooring, Home & Garden, Door Sales/Installation, Kitchen & Bath, Home Inspectors                            |
|Health & Medical, Sports Medicine, Doctors, Radiologists                                                                                                                                       |
|Breakfast & Brunch, Restaurants, Dominican, Caribbean, Food, Coffee & Tea                                                                                                                      |
|Eyelash Service, Beauty & Spas, Skin Care, Eyebrow Services                                                                                                                                    |
|Financial Advising, Financial Services, Professional Services, Tax Services, Accountants                                                                                                       |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [42]:
spark.sql('''
select * from (select categories, stars, count(stars) as total_count
from business_table
group by categories,stars
)
where categories='Contractors, Painters, Home Services'
order by stars desc
''').show(truncate=False)

+------------------------------------+-----+-----------+
|categories                          |stars|total_count|
+------------------------------------+-----+-----------+
|Contractors, Painters, Home Services|5.0  |1          |
|Contractors, Painters, Home Services|3.5  |2          |
|Contractors, Painters, Home Services|3.0  |2          |
|Contractors, Painters, Home Services|2.5  |1          |
+------------------------------------+-----+-----------+

In [43]:
#Find business with more number of 5 stars
spark.sql(
'''SELECT name
FROM business_table
WHERE stars = 5
GROUP BY name
HAVING COUNT(*) = (
    SELECT MAX(name_count)
    FROM (
        SELECT COUNT(*) AS name_count
        FROM business_table
        WHERE stars = 5
        GROUP BY name
    )
)
'''
).show(truncate=False)

+---------------------+
|name                 |
+---------------------+
|Painting with a Twist|
+---------------------+

In [44]:
#Find business_id with more number of 5 stars
spark.sql(
'''SELECT business_id
FROM business_table
WHERE stars = 5
GROUP BY business_id
HAVING COUNT(*) = (
    SELECT MAX(id_count)
    FROM (
        SELECT COUNT(*) AS id_count
        FROM business_table
        WHERE stars = 5
        GROUP BY business_id
    )
)
'''
).show(truncate=False)

+----------------------+
|business_id           |
+----------------------+
|1dSKEitDDgIkaApe6UNMSA|
|adATTqggIQX5xxLDISkFTw|
|4grfwtBDji5tZ7AxYCXCzQ|
|iipnazeY9eoANJ37l5fKwA|
|sk2lZI4zmuGAccd3DLCnBw|
|SPhcwEy32VV8dsaRStj-qg|
|sEBL8OtHzw2ctY69D1aoaA|
|6xXgtiKNqni1UdMacNGTFw|
|PPJL9EbIM6B6r86Gf-H0nw|
|uft8PlHObqze95tve1yQVA|
|efou6IrwQhHAXZ0e0v0Gkw|
|bi3SICnYEuFC7Cihyqz8Nw|
|kKb00Oj96n5YYqMSDzx1IA|
|GL6QZaCH8EGv1Rn3vDNIVg|
|mxrl1SSM04F4DYP8dUwL2A|
|JujePuViptUIgGNiaWblkA|
|FxAnPjRkh-3OY7qdZ7hqFg|
|qmxmUc4xzNt3ogaZLH8Eiw|
|nDeDis86-fkO_2m2N0EELw|
|HtplZd3pECmiewb9Lj88yQ|
+----------------------+
only showing top 20 rows

In [45]:
spark.sql('''
select * from (select name, stars,city,state, count(stars) as total_count
from business_table
group by name,stars,city,state
order by stars desc,total_count desc
)
where name='Painting with a Twist'
''').show(truncate=False)

+---------------------+-----+------------+-----+-----------+
|name                 |stars|city        |state|total_count|
+---------------------+-----+------------+-----+-----------+
|Painting with a Twist|5.0  |Philadelphia|PA   |3          |
|Painting with a Twist|5.0  |Ballwin     |MO   |1          |
|Painting with a Twist|5.0  |Nashville   |TN   |1          |
|Painting with a Twist|5.0  |Trinity     |FL   |1          |
|Painting with a Twist|5.0  |Bensalem    |PA   |1          |
|Painting with a Twist|5.0  |Brandon     |FL   |1          |
|Painting with a Twist|5.0  |Mount Laurel|NJ   |1          |
|Painting with a Twist|5.0  |Haddonfield |NJ   |1          |
|Painting with a Twist|5.0  |Gretna      |LA   |1          |
|Painting with a Twist|5.0  |Skippack    |PA   |1          |
|Painting with a Twist|5.0  |Clearwater  |FL   |1          |
|Painting with a Twist|5.0  |Media       |PA   |1          |
|Painting with a Twist|4.5  |Tampa       |FL   |3          |
|Painting with a Twist|4.5  |Wilmington  |DE   |1          |
|Painting with a Twist|4.5  |Marlton     |NJ   |1          |
|Painting with a Twist|4.5  |Metairie    |LA   |1          |
|Painting with a Twist|4.5  |Jenkintown  |PA   |1          |
|Painting with a Twist|4.5  |Warrington  |PA   |1          |
|Painting with a Twist|4.5  |Carmel      |IN   |1          |
|Painting with a Twist|4.5  |Philadelphia|PA   |1          |
+---------------------+-----+------------+-----+-----------+
only showing top 20 rows

In [46]:
spark.sql('''
select * from (select name, stars,categories,city,state, count(stars) as total_count
from business_table
group by name,stars,city,state,categories
order by stars desc,total_count desc
)
where name='Painting with a Twist'
and city='Philadelphia'
''').show()

+--------------------+-----+--------------------+------------+-----+-----------+
|                name|stars|          categories|        city|state|total_count|
+--------------------+-----+--------------------+------------+-----+-----------+
|Painting with a T...|  5.0|Arts & Entertainm...|Philadelphia|   PA|          1|
|Painting with a T...|  5.0|Education, Arts &...|Philadelphia|   PA|          1|
|Painting with a T...|  5.0|Paint & Sip, Art ...|Philadelphia|   PA|          1|
|Painting with a T...|  4.5|Paint & Sip, Art ...|Philadelphia|   PA|          1|
+--------------------+-----+--------------------+------------+-----+-----------+

In [14]:
hours_df = business_df.select(
    "business_id",
    "hours.Monday",
    "hours.Tuesday",
    "hours.Wednesday",
    "hours.Thursday",
    "hours.Friday",
    "hours.Saturday",
    "hours.Sunday",
)

# Create a temporary view for the hours DataFrame
hours_df.createOrReplaceTempView("hours_table")

# Perform any desired operations on the hours table
result = spark.sql("SELECT * FROM hours_table")

# Show the result
result.show(truncate=False)

+----------------------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
|business_id           |Monday     |Tuesday    |Wednesday  |Thursday   |Friday     |Saturday   |Sunday    |
+----------------------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
|Pns2l4eNsfO8kk83dixA6A|null       |null       |null       |null       |null       |null       |null      |
|mpf3x-BjTdTEA3yCZrAYPw|0:0-0:0    |8:0-18:30  |8:0-18:30  |8:0-18:30  |8:0-18:30  |8:0-14:0   |null      |
|tUFrWirKiKi_TAnsVWINQQ|8:0-22:0   |8:0-22:0   |8:0-22:0   |8:0-22:0   |8:0-23:0   |8:0-23:0   |8:0-22:0  |
|MTSW4McQd7CbVtyjqoe9mw|7:0-20:0   |7:0-20:0   |7:0-20:0   |7:0-20:0   |7:0-21:0   |7:0-21:0   |7:0-21:0  |
|mWMc6_wTdE0EUBKIGXDVfA|null       |null       |14:0-22:0  |16:0-22:0  |12:0-22:0  |12:0-22:0  |12:0-18:0 |
|CF33F8-E6oudUQ46HnavjQ|0:0-0:0    |6:0-22:0   |6:0-22:0   |6:0-22:0   |9:0-0:0    |9:0-22:0   |8:0-22:0  |
|n_0UpQx1hsNbnPUSlodU8w|0:0-0:0    |10:0-18:0  |10:0-18:0  |10:0-18:0  |10:0-18:0  |10:0-18:0  |12:0-18:0 |
|qkRM_2X51Yqxk3btlwAQIg|9:0-17:0   |9:0-17:0   |9:0-17:0   |9:0-17:0   |9:0-17:0   |null       |null      |
|k0hlBqXX-Bt0vf1op7Jr1w|null       |null       |null       |null       |null       |null       |null      |
|bBDDEgkFA1Otx9Lfe7BZUQ|0:0-0:0    |6:0-21:0   |6:0-21:0   |6:0-16:0   |6:0-16:0   |6:0-17:0   |6:0-21:0  |
|UJsufbvfyfONHeWdvAHKjA|9:30-21:30 |9:30-21:30 |9:30-21:30 |9:30-21:30 |9:30-21:30 |9:30-21:30 |10:0-20:0 |
|eEOYSgkmpB90uNA7lDOMRA|11:0-14:0  |11:0-14:0  |11:0-14:0  |11:0-14:0  |11:0-14:0  |5:0-10:0   |15:0-18:0 |
|il_Ro8jwPlHresjw9EGmBg|6:0-22:0   |6:0-22:0   |6:0-22:0   |6:0-22:0   |6:0-22:0   |6:0-22:0   |6:0-22:0  |
|jaxMSoInw8Poo3XeMJt8lQ|7:30-15:30 |7:30-15:30 |7:30-15:30 |7:30-15:30 |null       |null       |null      |
|0bPLkL0QhhPO5kt1_EXmNQ|10:0-18:0  |10:0-20:0  |10:0-20:0  |10:0-20:0  |10:0-20:0  |10:0-20:0  |null      |
|MUTTqe8uqyMdBl186RmNeA|null       |13:30-22:0 |13:30-22:0 |13:30-22:0 |13:30-23:0 |13:30-23:0 |13:30-22:0|
|rBmpy_Y1UbBx8ggHlyb7hA|0:0-0:0    |8:0-17:0   |8:0-17:0   |8:0-17:0   |8:0-17:0   |8:0-14:0   |0:0-0:0   |
|M0XSSHqrASOnhgbWDJIpQA|10:0-19:0  |10:0-19:0  |10:0-19:0  |10:0-19:0  |10:0-19:0  |10:0-19:0  |10:0-19:0 |
|8wGISYjYkE2tSqn3cDMu8A|8:0-17:0   |8:0-17:0   |8:0-17:0   |8:0-17:0   |8:0-17:0   |9:0-15:0   |9:0-12:0  |
|ROeacJQwBeh05Rqg7F6TCg|11:30-20:30|11:30-20:30|11:30-20:30|11:30-20:30|11:30-20:30|11:30-20:30|null      |
+----------------------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
only showing top 20 rows

In [48]:
spark.sql('''select b.name,h.* 
from business_table b,hours_table h 
where b.business_id=h.business_id''').show()

+--------------------+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
|                name|         business_id|     Monday|    Tuesday|  Wednesday|   Thursday|     Friday|   Saturday|    Sunday|
+--------------------+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
|Abby Rappoport, L...|Pns2l4eNsfO8kk83d...|       null|       null|       null|       null|       null|       null|      null|
|       The UPS Store|mpf3x-BjTdTEA3yCZ...|    0:0-0:0|  8:0-18:30|  8:0-18:30|  8:0-18:30|  8:0-18:30|   8:0-14:0|      null|
|              Target|tUFrWirKiKi_TAnsV...|   8:0-22:0|   8:0-22:0|   8:0-22:0|   8:0-22:0|   8:0-23:0|   8:0-23:0|  8:0-22:0|
|  St Honore Pastries|MTSW4McQd7CbVtyjq...|   7:0-20:0|   7:0-20:0|   7:0-20:0|   7:0-20:0|   7:0-21:0|   7:0-21:0|  7:0-21:0|
|Perkiomen Valley ...|mWMc6_wTdE0EUBKIG...|       null|       null|  14:0-22:0|  16:0-22:0|  12:0-22:0|  12:0-22:0| 12:0-18:0|
|      Sonic Drive-In|CF33F8-E6oudUQ46H...|    0:0-0:0|   6:0-22:0|   6:0-22:0|   6:0-22:0|    9:0-0:0|   9:0-22:0|  8:0-22:0|
|     Famous Footwear|n_0UpQx1hsNbnPUSl...|    0:0-0:0|  10:0-18:0|  10:0-18:0|  10:0-18:0|  10:0-18:0|  10:0-18:0| 12:0-18:0|
|      Temple Beth-El|qkRM_2X51Yqxk3btl...|   9:0-17:0|   9:0-17:0|   9:0-17:0|   9:0-17:0|   9:0-17:0|       null|      null|
|Tsevi's Pub And G...|k0hlBqXX-Bt0vf1op...|       null|       null|       null|       null|       null|       null|      null|
|      Sonic Drive-In|bBDDEgkFA1Otx9Lfe...|    0:0-0:0|   6:0-21:0|   6:0-21:0|   6:0-16:0|   6:0-16:0|   6:0-17:0|  6:0-21:0|
|           Marshalls|UJsufbvfyfONHeWdv...| 9:30-21:30| 9:30-21:30| 9:30-21:30| 9:30-21:30| 9:30-21:30| 9:30-21:30| 10:0-20:0|
|Vietnamese Food T...|eEOYSgkmpB90uNA7l...|  11:0-14:0|  11:0-14:0|  11:0-14:0|  11:0-14:0|  11:0-14:0|   5:0-10:0| 15:0-18:0|
|             Denny's|il_Ro8jwPlHresjw9...|   6:0-22:0|   6:0-22:0|   6:0-22:0|   6:0-22:0|   6:0-22:0|   6:0-22:0|  6:0-22:0|
|        Adams Dental|jaxMSoInw8Poo3XeM...| 7:30-15:30| 7:30-15:30| 7:30-15:30| 7:30-15:30|       null|       null|      null|
|Zio's Italian Market|0bPLkL0QhhPO5kt1_...|  10:0-18:0|  10:0-20:0|  10:0-20:0|  10:0-20:0|  10:0-20:0|  10:0-20:0|      null|
|            Tuna Bar|MUTTqe8uqyMdBl186...|       null| 13:30-22:0| 13:30-22:0| 13:30-22:0| 13:30-23:0| 13:30-23:0|13:30-22:0|
|Arizona Truck Out...|rBmpy_Y1UbBx8ggHl...|    0:0-0:0|   8:0-17:0|   8:0-17:0|   8:0-17:0|   8:0-17:0|   8:0-14:0|   0:0-0:0|
|      Herb Import Co|M0XSSHqrASOnhgbWD...|  10:0-19:0|  10:0-19:0|  10:0-19:0|  10:0-19:0|  10:0-19:0|  10:0-19:0| 10:0-19:0|
|    Nifty Car Rental|8wGISYjYkE2tSqn3c...|   8:0-17:0|   8:0-17:0|   8:0-17:0|   8:0-17:0|   8:0-17:0|   9:0-15:0|  9:0-12:0|
|                 BAP|ROeacJQwBeh05Rqg7...|11:30-20:30|11:30-20:30|11:30-20:30|11:30-20:30|11:30-20:30|11:30-20:30|      null|
+--------------------+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+----------+
only showing top 20 rows

In [49]:
spark.sql('''select b.name,b.categories,b.city,b.state,h.* 
from business_table b,hours_table h 
where b.business_id=h.business_id
and b.name='Painting with a Twist'
and b.business_id = 'N2vUq6LOvvRzKB5zj4v0Rw'
''').show(truncate=False)

+---------------------+---------------------------------------------------------+-------+-----+----------------------+------+-------+---------+--------+------+--------+------+
|name                 |categories                                               |city   |state|business_id           |Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday|
+---------------------+---------------------------------------------------------+-------+-----+----------------------+------+-------+---------+--------+------+--------+------+
|Painting with a Twist|Paint & Sip, Education, Art Classes, Arts & Entertainment|Ballwin|MO   |N2vUq6LOvvRzKB5zj4v0Rw|null  |null   |null     |null    |null  |null    |null  |
+---------------------+---------------------------------------------------------+-------+-----+----------------------+------+-------+---------+--------+------+--------+------+

In [26]:
#top 10 cities with most reviews
output=spark.sql('''
SELECT city, SUM(review_count) AS total_reviews
FROM business_table
GROUP BY city
ORDER BY total_reviews DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_cities_reviews.csv")

+-------------+-------------+
|         city|total_reviews|
+-------------+-------------+
| Philadelphia|       936240|
|  New Orleans|       621361|
|    Nashville|       441053|
|        Tampa|       439506|
|       Tucson|       387254|
| Indianapolis|       349228|
|         Reno|       334610|
|Santa Barbara|       262853|
|  Saint Louis|       244360|
|        Boise|       101893|
+-------------+-------------+

In [27]:
#top 10 cities with more number of business_id
output=spark.sql('''
SELECT city, count(business_id) AS total_bus
FROM business_table
GROUP BY city
ORDER BY total_bus DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_cities_ids.csv")

+-------------+---------+
|         city|total_bus|
+-------------+---------+
| Philadelphia|    14569|
|       Tucson|     9250|
|        Tampa|     9050|
| Indianapolis|     7540|
|    Nashville|     6971|
|  New Orleans|     6209|
|         Reno|     5935|
|     Edmonton|     5054|
|  Saint Louis|     4827|
|Santa Barbara|     3829|
+-------------+---------+

In [52]:
#top 10 cities with more number of name
spark.sql('''
SELECT city, count(name) AS total_name
FROM business_table
GROUP BY city
ORDER BY total_name DESC
LIMIT 10
''').show()

+-------------+----------+
|         city|total_name|
+-------------+----------+
| Philadelphia|     14569|
|       Tucson|      9250|
|        Tampa|      9050|
| Indianapolis|      7540|
|    Nashville|      6971|
|  New Orleans|      6209|
|         Reno|      5935|
|     Edmonton|      5054|
|  Saint Louis|      4827|
|Santa Barbara|      3829|
+-------------+----------+

In [28]:
#cities with more stars
output=spark.sql('''
SELECT city, count(stars) AS total_stars
FROM business_table
GROUP BY city
ORDER BY total_stars DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_cities_stars.csv")

+-------------+-----------+
|         city|total_stars|
+-------------+-----------+
| Philadelphia|      14569|
|       Tucson|       9250|
|        Tampa|       9050|
| Indianapolis|       7540|
|    Nashville|       6971|
|  New Orleans|       6209|
|         Reno|       5935|
|     Edmonton|       5054|
|  Saint Louis|       4827|
|Santa Barbara|       3829|
+-------------+-----------+

In [29]:
#top 10 states with more number of businesses
output=spark.sql('''
SELECT state, count(business_id) AS total_bus
FROM business_table
GROUP BY state
ORDER BY total_bus DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_states_business.csv")

+-----+---------+
|state|total_bus|
+-----+---------+
|   PA|    34039|
|   FL|    26330|
|   TN|    12056|
|   IN|    11247|
|   MO|    10913|
|   LA|     9924|
|   AZ|     9912|
|   NJ|     8536|
|   NV|     7715|
|   AB|     5573|
+-----+---------+

In [31]:
#top 10 states with most reviews
output=spark.sql('''
SELECT state, SUM(review_count) AS total_reviews
FROM business_table
GROUP BY state
ORDER BY total_reviews DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_state_reviews.csv")

+-----+-------------+
|state|total_reviews|
+-----+-------------+
|   PA|      1540790|
|   FL|      1119926|
|   LA|       743176|
|   TN|       598195|
|   MO|       483897|
|   IN|       472565|
|   AZ|       412639|
|   NV|       409950|
|   CA|       339637|
|   NJ|       249837|
+-----+-------------+

In [30]:
#top 10 states with more stars
output=spark.sql('''
SELECT state, count(stars) AS total_stars
FROM business_table
GROUP BY state
ORDER BY total_stars DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_state_star.csv")

+-----+-----------+
|state|total_stars|
+-----+-----------+
|   PA|      34039|
|   FL|      26330|
|   TN|      12056|
|   IN|      11247|
|   MO|      10913|
|   LA|       9924|
|   AZ|       9912|
|   NJ|       8536|
|   NV|       7715|
|   AB|       5573|
+-----+-----------+

In [57]:
# all details of business with min star
spark.sql('''
select * 
from business_table
where stars=(select min(stars) from business_table)
''').show()

+--------------------+--------------------+--------------------+--------------------+------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|        city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|904 Clearwater La...|{null, null, null...|jkY8aotwcAlSHCgoZ...|Home & Garden, Lo...|       Largo|                null|      0|   27.9251193|    -82.7959877|  Bay Area Appliance|      33770|           5|  1.0|   FL|
|                    |{null, null, null...|8oi1Gm7XLyK31Y3N3...|Plumbing, Home Se...|    Smithton|{9:0-17:0, 9:0-17...|      1|      38.3935|       -90.0107|A & A Complete Se...|      62285|          11|  1.0|   IL|
|                    |                null|usv5G5cO314pPHRTG...|Tours, Walking To...|Philadelphia|                null|      1|   40.1197128|    -75.0097103|          Best Tours|      19019|          38|  1.0|   PA|
|      805 Kuenzli St|{null, null, null...|sKdF_rwYyLa2NM1dl...|Real Estate, Apar...|        Reno|{8:0-17:0, 8:0-17...|      1|     39.52862|    -119.802018|Riverwood Apartments|      89502|          18|  1.0|   NV|
|  3175 JFK Boulevard|{null, null, null...|xY0jpu0zzGEBr-bGB...|Apartments, Unive...|Philadelphia|{9:0-18:0, 9:0-18...|      1|     39.95604|     -75.187797|University Crossings|      19104|          15|  1.0|   PA|
|2245 S Kingshighw...|                null|CrF8GhrF8KJikwugS...|Automotive, Auto ...| Saint Louis|                null|      1|   38.6133033|    -90.2678361|   Xtreme Automotive|      63110|           6|  1.0|   MO|
|1215 Gallatin Pike S|                null|BFf44roOiEodYRu06...|Car Wash, Automotive|     Madison|{7:0-20:0, 7:0-20...|      1|   36.2467393|    -86.7204366|Wash N' Roll Car ...|      37115|           8|  1.0|   TN|
|                    |{null, null, null...|ygnm0ze5oL4E9Jpys...|Limos, Party Bus ...|   Tampa Bay|{8:0-0:0, 8:0-0:0...|      1|   27.8585758|    -82.3397635|     Absolute Luxury|      33578|           5|  1.0|   FL|
|      2690 N 1st Ave|                null|L9gZiajtCvwr96vCV...|Local Services, P...|      Tucson|                null|      1|   32.2559704|   -110.9605081|Creative Beginnin...|      85719|          23|  1.0|   AZ|
|  2960 N Meridian St|                null|v5nFmEgsJL8Cqk_9o...|Travel Services, ...|Indianapolis|{7:0-18:0, 7:0-18...|      1|    39.809651|     -86.158532|International Med...|      46208|         129|  1.0|   IN|
|1916 Old Cuthbert Rd|                null|oFcqP3WFAtXgt162A...|Gutter Services, ...| Cherry Hill|                null|      1|      39.9169|      -74.97572|Core Property Ser...|      08034|           7|  1.0|   NJ|
|1700 E Fort Lowel...|                null|wYnM2hu7l83HeRDZC...|Property Manageme...|      Tucson|{9:0-17:30, 9:0-1...|      1|32.2641514437|-110.9462645061|Axiom Properties ...|      85719|           9|  1.0|   AZ|
|   443 Opry Mills Dr|{null, null, null...|g7GCbnZC_HKO0ybNt...|Chicken Wings, Fa...|   Nashville|                null|      1|    36.202427|     -86.692898|Popeyes Louisiana...|      37214|           6|  1.0|   TN|
|    5029 Gravois Ave|{null, null, null...|ehl5FH2MUjrF96m4F...|Real Estate, Prof...| Saint Louis|{9:30-18:0, 9:30-...|      1|   38.5807704|    -90.2682947|         Rent Source|      63116|          13|  1.0|   MO|
|    378 Western Blvd|{null, null, null...|y8GId04Q7slRzgFYq...|Dry Cleaning & La...|   Greenwood|{7:0-19:0, 7:0-18...|      1|   39.6190635|    -86.2116805|    Tuchman Cleaners|      46142|           5|  1.0|   IN|
|     3370 Kietzke Ln|                null|rCEi9tljwv3c3r3K2...|Furniture Stores,...|        Reno|{10:0-20:0, 10:0-...|      1|   39.4925938|   -119.7881107|             Aaron's|      89502|           7|  1.0|   NV|
|West Edmonton Mal...|{null, null, null...|EbrK0e_Mv-B4bM_xL...|Shopping, Fashion...|    Edmonton|{10:0-21:0, 10:0-...|      1|   53.5235519|   -113.6157074|       Style America|    T5T 3J7|           7|  1.0|   AB|
|       4444 City Ave|{null, null, null...|qluIWCzDpeZfddykm...|Hotels, Event Pla...|Philadelphia|                null|      1|   40.0031369|    -75.2213329|North American Mo...|      19131|          25|  1.0|   PA|
|       19387 US 19 N|                null|ZR7jsiG-jZHSIgegd...|Doctors, Health &...|  Clearwater|                null|      1|   27.9490661|    -82.7282821|             Lincare|      33764|           5|  1.0|   FL|
|    4226 Chester Ave|{null, null, null...|Mw4seO5ZXpAIHxVnW...|Home Services, Ap...|Philadelphia|                null|      1|    39.948116|     -75.208422|  Apartments By Lego|      19104|           6|  1.0|   PA|
+--------------------+--------------------+--------------------+--------------------+------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [58]:
# all details of business with max star
spark.sql('''
select * 
from business_table
where stars=(select max(stars) from business_table)
''').show()

+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|         city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|Doctors, Traditio...|Santa Barbara|                null|      0|   34.4266787|   -119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|   15 N Missouri Ave|{null, null, null...|jaxMSoInw8Poo3XeM...|General Dentistry...|   Clearwater|{null, 7:30-15:30...|      1|    27.966235|     -82.787412|        Adams Dental|      33755|          10|  5.0|   FL|
|       662 Durham Rd|                null|PSo_C1Sfa13JHjzVN...|Pet Services, Pet...|      Newtown|{8:0-17:0, 8:0-19...|      1|   40.2734926|     -74.987496|Indian Walk Veter...|      18940|          15|  5.0|   PA|
| 1301 N Milwaukee St|{null, null, null...|fvWn8oXXwbj2l79co...|Trampoline Parks,...|        Boise|{10:0-22:0, 10:0-...|      1|   43.6167635|   -116.2853821|Altitude Trampoli...|      83704|          30|  5.0|   ID|
|                    |{null, null, null...|fSCNwMtNNQY9QT69C...|Musicians, DJs, K...|       Sparks|{9:0-17:0, 9:0-17...|      1|   39.5401545|   -119.7483949|   Sierra Pro Events|      89431|           7|  5.0|   NV|
|  532 Rte 70 W, Fl 2|                null|lwItZ1Ck3KtpCgG4C...|DUI Law, Professi...|  Cherry Hill|{0:0-0:0, 0:0-0:0...|      1|    39.915478|     -75.016973|Stomel Elliot Att...|      08002|           5|  5.0|   NJ|
|5343 Belleville C...|{null, null, null...|bCBPXIVfVzBZBEpFu...|Shipping Centers,...|   Belleville|                null|      1|   38.5175856|    -90.0219285|     All In Shipping|      62226|           5|  5.0|   IL|
|    201 Jefferson St|{null, null, null...|ABxoFuzZy5mqQ8C5F...|Restaurants, Italian|  Bala Cynwyd|{15:0-20:30, null...|      1|   40.0283575|    -75.2380841|        Core de Roma|      19004|          12|  5.0|   PA|
|                    |                null|REwfwz-_-CMQ7Np5U...|Real Estate Agent...|       Carmel|                null|      1|      39.9693|    -86.1650024|      Jennie Deckert|      46032|           7|  5.0|   IN|
|    10588 109 Street|{null, null, u'no...|cVBxfMC4lp3DnocjY...|Coffee & Tea, Caf...|     Edmonton|{10:0-20:0, 0:0-0...|      0|   53.5496333|   -113.5087799|   Paws The Cat Cafe|    T5H 3B2|          20|  5.0|   AB|
|                    |{null, null, null...|n7AQvGvNHlmun3kqX...|Local Services, A...|     Meridian|{8:30-15:0, 0:0-0...|      1|   43.6434944|   -116.4360004|Roy's Appliance S...|      83646|           5|  5.0|   ID|
|       Truck Inn Way|{null, null, 'ful...|gbN4RuUiiBxQ2GBFQ...|   Food Trucks, Food|      Fernley|                null|      1|39.5139704538|-119.8472038094|       Mr. Margarita|      89408|           7|  5.0|   NV|
|5624 E Washington St|{null, null, null...|vR9_bhoszcpXbB_AP...|Fashion, Shopping...| Indianapolis|{11:0-17:0, 11:0-...|      1|39.7709745063| -86.0711718384|          James Dant|      46219|          31|  5.0|   IN|
|                    |{null, null, null...|RK6-cJ9hj53RzOlCB...|Restaurants, Ital...|        Tampa|{0:0-0:0, 0:0-0:0...|      1|    27.890814|    -82.5023464|             Impasto|      33611|           5|  5.0|   FL|
|3363 E Presidenti...|                null|U2Tzy6J9aAAg9pzXs...|Real Estate, Home...|     Meridian|{0:0-0:0, 0:0-0:0...|      1|   43.6141936|   -116.3525001|Premier Mortgage ...|      83642|           6|  5.0|   ID|
|1338 Bristol Pike...|{null, null, null...|8KMIT0NXu30Jz5Ojo...|Fitness & Instruc...|     Bensalem|{9:0-15:0, 9:0-19...|      1|   40.0722036|    -74.9644197|Cornerstone Physi...|      19020|           6|  5.0|   PA|
|                    |{null, null, null...|bYjnX_J1bHZob10Do...|Parenting Classes...|Santa Barbara|{10:0-18:0, 0:0-0...|      1|    34.420334|   -119.7107494|Tinkle Belle Diap...|      93101|          17|  5.0|   CA|
|    5703 W Morris St|{null, null, null...|Q3kQYhkYxSRyYyeBg...|Home Services, Gl...| Indianapolis|{8:0-17:0, 8:0-17...|      1|   39.7500892|    -86.2575225|Cook's Glass & Mi...|      46241|           5|  5.0|   IN|
|325 Chestnut St, ...|{null, null, null...|GWGXTKR0Fhdvzf_is...|Real Estate, Home...| Philadelphia|{9:0-19:0, 9:0-19...|      1|39.9490268625| -75.1471895999|David Gower, Jr. ...|      19106|          17|  5.0|   PA|
|            820 S St|{null, null, null...|h-y5azB-VlQAT3m7F...|Fashion, Shopping...| Philadelphia|                null|      1|    39.942515|     -75.156468|P's & Q's - Premi...|      19147|          16|  5.0|   PA|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [59]:
# all details of business with max review counts
spark.sql('''
select * 
from business_table
where review_count=(select max(review_count) from business_table)
''').show()

+----------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+----------+-----------+-----------------+-----------+------------+-----+-----+
|         address|          attributes|         business_id|          categories|       city|               hours|is_open|  latitude|  longitude|             name|postal_code|review_count|stars|state|
+----------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+----------+-----------+-----------------+-----------+------------+-----+-----+
|724 Iberville St|{null, null, 'ful...|_ab50qdWOk0DdB6XO...|Live/Raw Food, Se...|New Orleans|{11:0-22:0, 11:0-...|      1|29.9542735|-90.0689651|Acme Oyster House|      70130|        7568|  4.0|   LA|
+----------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+----------+-----------+-----------------+-----------+------------+-----+-----+

In [60]:
# all details of business with min review counts
spark.sql('''
select * 
from business_table
where review_count=(select min(review_count) from business_table)
''').show()

+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|          city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|  400 Pasadena Ave S|                null|qkRM_2X51Yqxk3btl...|Synagogues, Relig...|St. Petersburg|{9:0-17:0, 9:0-17...|      1|     27.76659|     -82.732983|      Temple Beth-El|      33707|           5|  3.5|   FL|
|        712 Adams St|{null, null, null...|M0XSSHqrASOnhgbWD...|Vape Shops, Tobac...|   New Orleans|{10:0-19:0, 10:0-...|      1|29.9414679565|  -90.129952757|      Herb Import Co|      70118|           5|  4.0|   LA|
|  532 Rte 70 W, Fl 2|                null|lwItZ1Ck3KtpCgG4C...|DUI Law, Professi...|   Cherry Hill|{0:0-0:0, 0:0-0:0...|      1|    39.915478|     -75.016973|Stomel Elliot Att...|      08002|           5|  5.0|   NJ|
|5343 Belleville C...|{null, null, null...|bCBPXIVfVzBZBEpFu...|Shipping Centers,...|    Belleville|                null|      1|   38.5175856|    -90.0219285|     All In Shipping|      62226|           5|  5.0|   IL|
|                    |{null, null, null...|n7AQvGvNHlmun3kqX...|Local Services, A...|      Meridian|{8:30-15:0, 0:0-0...|      1|   43.6434944|   -116.4360004|Roy's Appliance S...|      83646|           5|  5.0|   ID|
|   5203 99 Street NW|{null, null, null...|mFTaYsRDyeFaY2NDL...|Tabletop Games, S...|      Edmonton|{10:0-18:0, 10:0-...|      1|53.4893123495|-113.4855665582|    River City Games|    T6E 5B7|           5|  4.5|   AB|
|   820 Industrial Dr|                null|sE6jSnvMts_MAn-b4...|Pet Groomers, Pet...|          Troy|{8:0-16:0, 8:0-16...|      1|   38.7162443|    -89.8858296|      K-9 Groom Room|      62294|           5|  4.0|   IL|
|                    |{null, null, null...|RK6-cJ9hj53RzOlCB...|Restaurants, Ital...|         Tampa|{0:0-0:0, 0:0-0:0...|      1|    27.890814|    -82.5023464|             Impasto|      33611|           5|  5.0|   FL|
|     1153 Byberry Rd|{null, null, null...|ZM46RDLXaFNo_z6t-...|Masonry/Concrete,...|      Bensalem|{7:0-17:0, 7:0-17...|      1|   40.1131212|    -74.9145975|Absolutely Perfec...|      19020|           5|  3.5|   PA|
|5191 Meadowood Ma...|{null, null, u'no...|knQ4vIgx-r85kjlWV...|Sporting Goods, S...|          Reno|{10:0-21:0, 0:0-0...|      1|    39.476518|   -119.7840369|Silver and Blue O...|      89502|           5|  4.5|   NV|
|1256 Valley Hill Trl|{null, null, null...|2n9HHBxG7yAyAUwXX...|Flooring, Handyma...|   Southampton|{8:0-18:0, 0:0-0:...|      1|   40.1690207|    -75.0093159|     Mighty Dustless|      18966|           5|  4.0|   PA|
|4146 E Speedway Blvd|{null, null, null...|luGY5CJlb4CJ3LrBc...|Furniture Stores,...|        Tucson|{9:30-18:0, 9:30-...|      1|   32.2358661|   -110.9036755|Desert Design Center|      85712|           5|  3.0|   AZ|
|    5703 W Morris St|{null, null, null...|Q3kQYhkYxSRyYyeBg...|Home Services, Gl...|  Indianapolis|{8:0-17:0, 8:0-17...|      1|   39.7500892|    -86.2575225|Cook's Glass & Mi...|      46241|           5|  5.0|   IN|
|2616 Brill Rd, Ste A|{null, null, null...|U2htB9qk4hOXCdkcc...|Shopping, Books, ...|  Indianapolis|{11:0-19:0, null,...|      1|   39.7291579|    -86.1544775|            D's Toys|      46225|           5|  5.0|   IN|
|          34 Ring Ln|{null, null, null...|5BYQP7i7ckUlgSzX4...|Home Cleaning, Ho...|     Levittown|{7:0-22:0, 7:0-22...|      1|   40.1502639|    -74.8448876|A-1 Expert Cleani...|      19055|           5|  5.0|   PA|
|1901 E Washington St|{null, null, null...|xAAhPuZ8FG6OlvAw5...|Active Life, Play...|  Indianapolis|                null|      1|   39.7667851|      -86.12748|        Willard Park|      46201|           5|  3.5|   IN|
|904 Clearwater La...|{null, null, null...|jkY8aotwcAlSHCgoZ...|Home & Garden, Lo...|         Largo|                null|      0|   27.9251193|    -82.7959877|  Bay Area Appliance|      33770|           5|  1.0|   FL|
|   5112 E Fowler Ave|{null, null, u'no...|QjV4v7q_pt7tt3K1U...|Fast Food, Sandwi...|         Tampa|{11:0-21:0, 11:0-...|      1|28.0548882706|    -82.3995484|  PDQ Temple Terrace|      33617|           5|  3.0|   FL|
|1125 W Chester Pi...|{null, null, null...|tVdJ7CgBGAQ_nLomY...|Wildlife Control,...|     Havertown|{0:0-0:0, 0:0-0:0...|      1|   39.9727224|    -75.3154587|Cunningham Pest C...|      19083|           5|  5.0|   PA|
|    309 Florence Ave|                null|UoKkgWmE9-c3wbWwO...|Real Estate, Apar...|    Jenkintown|                null|      1|    40.094306|    -75.1352466|Beaver Hill Condo...|      19046|           5|  3.0|   PA|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [32]:
#top 10 categories with more stars
output=spark.sql('''
SELECT categories, count(stars) AS total_stars
FROM business_table
GROUP BY categories
ORDER BY total_stars DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_cat_stars.csv")

+--------------------+-----------+
|          categories|total_stars|
+--------------------+-----------+
|Beauty & Spas, Na...|       1012|
|  Restaurants, Pizza|        935|
|Nail Salons, Beau...|        934|
|  Pizza, Restaurants|        823|
|Restaurants, Mexican|        728|
|Restaurants, Chinese|        708|
|Mexican, Restaurants|        672|
|Chinese, Restaurants|        651|
|  Food, Coffee & Tea|        508|
|Beauty & Spas, Ha...|        493|
+--------------------+-----------+

In [33]:
#top 10 categories with more review_counts
output=spark.sql('''
SELECT categories, sum(review_count) AS total_review
FROM business_table
GROUP BY categories
ORDER BY total_review DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_cat_review.csv")

+--------------------+------------+
|          categories|total_review|
+--------------------+------------+
|Mexican, Restaurants|       53043|
|Restaurants, Mexican|       52996|
|  Restaurants, Pizza|       32746|
|  Pizza, Restaurants|       28477|
|Beauty & Spas, Na...|       27484|
|Restaurants, Italian|       26320|
|Italian, Restaurants|       25388|
|Restaurants, Chinese|       23985|
|Nail Salons, Beau...|       23100|
|Chinese, Restaurants|       22071|
+--------------------+------------+

In [34]:
#top 10 businesses with more review_counts
output=spark.sql('''
SELECT name, sum(review_count) AS total_review
FROM business_table
GROUP BY name
ORDER BY total_review DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_bus_review.csv")

+--------------------+------------+
|                name|total_review|
+--------------------+------------+
|           Starbucks|       20692|
|          McDonald's|       17359|
|             Dunkin'|        9864|
|Chipotle Mexican ...|        9383|
|         First Watch|        8921|
|   Acme Oyster House|        8372|
|           Taco Bell|        8325|
|         Chick-fil-A|        8004|
|        Oceana Grill|        7400|
|        Panera Bread|        7246|
+--------------------+------------+

In [35]:
#top 10 businesses with more stars
output=spark.sql('''
SELECT name, count(stars) AS total_stars
FROM business_table
GROUP BY name
ORDER BY total_stars DESC
LIMIT 10
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_ten_bus_stars.csv")

+------------+-----------+
|        name|total_stars|
+------------+-----------+
|   Starbucks|        724|
|  McDonald's|        703|
|     Dunkin'|        510|
|      Subway|        459|
|   Taco Bell|        365|
|CVS Pharmacy|        345|
|   Walgreens|        341|
| Burger King|        338|
|     Wendy's|        331|
|        Wawa|        307|
+------------+-----------+

In [65]:
#top business based on its count
spark.sql('''
select  name, count(name) as total
from business_table
group by name
having count(name)=
(
    SELECT MAX(bus_count)
    FROM (
        SELECT COUNT(*) AS bus_count
        FROM business_table
        GROUP BY name
    )
)
''').show()

+---------+-----+
|     name|total|
+---------+-----+
|Starbucks|  724|
+---------+-----+

In [36]:
#top 20 business based on its count
output=spark.sql('''
SELECT name, count(name) AS total_bus
FROM business_table
GROUP BY name
ORDER BY total_bus DESC
LIMIT 20
''')
output.show()
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_twenty_bus_count.csv")

+--------------------+---------+
|                name|total_bus|
+--------------------+---------+
|           Starbucks|      724|
|          McDonald's|      703|
|             Dunkin'|      510|
|              Subway|      459|
|           Taco Bell|      365|
|        CVS Pharmacy|      345|
|           Walgreens|      341|
|         Burger King|      338|
|             Wendy's|      331|
|                Wawa|      307|
|      Domino's Pizza|      295|
|       The UPS Store|      281|
|           Pizza Hut|      272|
|Enterprise Rent-A...|      232|
|   Papa John's Pizza|      196|
|         Great Clips|      185|
|        Jimmy John's|      175|
|      US Post Office|      174|
|                 KFC|      171|
|         Chick-fil-A|      162|
+--------------------+---------+

In [6]:
#Function that returns Y/N if business is available in the Morning/Night based on hours_df
def availability(t):
    if t is None:
        return [None,None]
    l=[]
    start_t,end_t=t.split('-')
    hour,time=start_t.split(':')
    if int(hour)<= 12 or int(hour)==0:
        l.append('Y')
    else:
        l.append('N')
    hour,time=end_t.split(':')
    if int(hour)> 12 or int(hour)==0:
        l.append('Y')
    else:
        l.append('N')
    return l

In [7]:
def star_weights(stars):
    if stars>=3 and stars<=5:
        return  500
    elif stars>=1 and stars<3:
        return  250
    else:
        return 0

In [8]:
def review_weights(review_count):
    if review_count<= 20692 and review_count>8000:
        return 100
    elif review_count<= 8000 and review_count>1000:
        return 200
    elif review_count<=1000 and review_count>=500:
        return 100
    elif review_count<=500 and review_count>=100:
        return 50
    elif review_count<=100 and review_count>=50:
        return 25
    elif review_count<=50 and review_count>=20:
        return 15
    elif review_count<=20 and review_count>=1:
        return 5
    else:
        return 0

In [9]:
def open_weights(is_open):
    if is_open==1:
        return 50
    elif is_open==0:
        return 10
    else:
        return 0

In [10]:
def count_name_weights(total_bus):
    if total_bus<=800 and total_bus>500:
        return 100
    elif total_bus<=500 and total_bus>100:
        return 70
    elif total_bus<=100 and total_bus>0:
        return 40
    else:
        return 0

In [11]:
# converting python function to spark UDF (user defined function)
udf_availability = udf(availability, ArrayType(StringType())) #mention function name and its return type
udf_star_weights = udf(star_weights,IntegerType())
udf_review_weights = udf(review_weights,IntegerType())
udf_open_weights = udf(open_weights,IntegerType())
udf_count_name_weights = udf(count_name_weights,IntegerType())

In [12]:
# Registering the function in spark with any name or same name to use in spark SQL
spark.udf.register("udf_availability", udf_availability)
spark.udf.register("udf_star_weights", udf_star_weights)
spark.udf.register("udf_review_weights", udf_review_weights)
spark.udf.register("udf_open_weights", udf_open_weights)
spark.udf.register("udf_count_name_weights", udf_count_name_weights)

In [17]:
#Assigning a custom score to each business
output=spark.sql('''
select 
business_id, 
    review_count,
    stars,
    tot_name,
    is_open,
    Monday,
    morning_flag,
    night_flag,
    score + 
    DECODE(NVL(morning_flag,'NA'),'Y',10,'N',5,'NA',0) +
    DECODE(NVL(night_flag,'NA'),'Y',20,'N',5,'NA',0)
    as custom_score
from 
(
SELECT 
    business_id, 
    review_count,
    stars,
    tot_name,
    is_open,
    Monday,
    udf_star_weights(NVL(stars,0)) +
    udf_review_weights(NVL(review_count,0)) +
    udf_open_weights(NVL(is_open,-1)) +
    udf_count_name_weights(NVL(tot_name,0))
    AS score,
    CASE 
        WHEN Monday IS NOT NULL THEN udf_availability(Monday)[0]
        ELSE NULL
    END AS morning_flag,
    CASE 
        WHEN Monday IS NOT NULL THEN udf_availability(Monday)[1] 
        ELSE NULL
    END AS night_flag
FROM 
(
    SELECT 
        b.business_id,
        b.review_count,
        b.stars,
        COUNT(b.name) OVER (PARTITION BY b.name) AS tot_name,
        b.is_open,
        h.Monday
    FROM
        business_table b,
        hours_table h
    WHERE 1=1
    AND b.business_id = h.business_id
    --and b.business_id ='mpf3x-BjTdTEA3yCZrAYPw'
    )
)
order by custom_score desc
''')
output.show(truncate=False)
output.write.option("header",True).csv("C:/Supriyaa-spark-notes/tableau files/Business/top_bus_custom_score.csv")

+----------------------+------------+-----+--------+-------+---------+------------+----------+------------+
|business_id           |review_count|stars|tot_name|is_open|Monday   |morning_flag|night_flag|custom_score|
+----------------------+------------+-----+--------+-------+---------+------------+----------+------------+
|5oX4G1cptixPZecih9L3dg|1147        |4.0  |1       |1      |0:0-0:0  |Y           |Y         |820.0       |
|gTC8IQ_i8zXytWSly3Ttvg|3837        |4.5  |2       |1      |11:0-22:0|Y           |Y         |820.0       |
|3WU1ZobAqXQ07xYoKE2Vyg|1437        |3.5  |1       |1      |7:0-14:0 |Y           |Y         |820.0       |
|Ih6_y2nnbg2Jw9Qdc876GA|1106        |4.0  |8       |1      |0:0-0:0  |Y           |Y         |820.0       |
|bp5Mk2d0qofUeF5uLauIbg|1350        |4.5  |1       |1      |0:0-0:0  |Y           |Y         |820.0       |
|Rl42JbSMsmNW3LRjsTMYAg|1270        |4.0  |2       |1      |11:0-23:0|Y           |Y         |820.0       |
|cE_gYW3CHEducTkEyxTDdA|1368        |4.0  |3       |1      |0:0-0:0  |Y           |Y         |820.0       |
|4szMVHmGXodrVGw4Zhev9g|1447        |4.5  |3       |1      |11:0-23:0|Y           |Y         |820.0       |
|I6L0Zxi5Ww0zEWSAVgngeQ|1066        |3.5  |1       |1      |0:0-0:0  |Y           |Y         |820.0       |
|_ab50qdWOk0DdB6XOrBitw|7568        |4.0  |3       |1      |11:0-22:0|Y           |Y         |820.0       |
|qY-BUQY-SFBaSrFHowF3nA|1213        |4.0  |1       |1      |12:0-23:0|Y           |Y         |820.0       |
|V9VLhHdSFpFi4yXFqVcVEA|1926        |4.0  |1       |1      |11:0-21:0|Y           |Y         |820.0       |
|2DTkzhmMpv5fIPKheePClA|1433        |4.5  |1       |1      |12:0-21:0|Y           |Y         |820.0       |
|UGefDZNmnBztS0eoXWtHyQ|1335        |4.5  |2       |1      |0:0-0:0  |Y           |Y         |820.0       |
|I_mCFePUG2MGuH-zuws7bA|1227        |4.5  |1       |1      |0:0-0:0  |Y           |Y         |820.0       |
|gVU0U7gNBMQxKTzqmRtdLg|2040        |4.0  |1       |1      |11:0-23:0|Y           |Y         |820.0       |
|Y2Pfil51rNvTd_lFHwzb_g|2688        |4.0  |1       |1      |0:0-0:0  |Y           |Y         |820.0       |
|EQ-TZ2eeD_E0BHuvoaeG5Q|1379        |4.0  |1       |1      |10:0-15:0|Y           |Y         |820.0       |
|M0r9lUn2gLFYgIwIfG8-bQ|1567        |3.5  |1       |1      |0:0-0:0  |Y           |Y         |820.0       |
|8UPv1p9GW-BiZtQqUt8nOA|1646        |4.0  |1       |1      |0:0-0:0  |Y           |Y         |820.0       |
+----------------------+------------+-----+--------+-------+---------+------------+----------+------------+
only showing top 20 rows